<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>グルナビ</title>
</head>
<body>
<form method="POST" action="/gurunabi/confirm">
    <table class="sample-table">
        <tr>
            <th></th>
            <td>
                <input type="text" name="name"  size="15" placeholder="店名">キーワードを入力して飲食店検索してください</input>
            </td>
            <td>
                <select id="categoryName" name="categoryCode">
                    <option value="">ジャンル指定なし</option>
                    <option th:each="category: ${categoryList}" th:value="${category.category_l_code}" th:text="${category.category_l_name}"　>
                    </option>
                </select>

                <select id="prefName" name="prefCode">
                    <option value="">全国</option>
                    <option th:each="pref: ${prefList}" th:value="${pref.pref_code}" th:text="${pref.pref_name}"　>
<!--                                                    th:selected="${pref.pref_code == prefCode}">-->
                    </option>
                </select>

            </td>

        </tr>
    </table>
    <input type="submit" value="送信" size="30"></input>
    <font color="#ff0000"><th:block th:text="${errorMessage}"></th:block></font>
</form>

</body>
</html>