<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/gurunabi/confirm">
    <table class="sample-table" th:each="guru : ${guruCodeList}"
           th:object="${guru}"　>



        <a th:href="*{url}" target="_blank"><img th:src="*{image_url.shop_image1}" ></a>

        <img th:src="*{image_url.qrcode}">


        <tr>
            <th>徒歩</th>
            <td th:text="*{access.walk}"></td>
        </tr>



        <tr>
            <th>PC用クーポンURL</th>
            <td th:text="*{coupon_url.pc}">クーポンURL</td>
        </tr>

        <tr>
            <th>携帯用クーポンURL</th>
            <td th:text="*{coupon_url.mobile}"></td>
        </tr>

        <tr>
            <th>店舗画像1のURL</th>
            <td th:text="*{image_url.shop_image1}"></td>
        </tr>

        <tr>
            <th>該当件数</th>
            <td th:text="${total_offset}"></td>
        </tr>
        <tr>
            <th>店舗名</th>
            <td th:text="*{name}"></td>
        </tr>

        <tr>
            <th>住所</th>
            <td th:text="*{address}"></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td th:text="*{tel}"></td>
        </tr>
        <tr>
            <th>営業時間</th>
            <td th:text="*{opentime}"></td>
        </tr>

        <tr>
            <th>休業日</th>
            <td th:text="*{holiday}"></td>
        </tr>

    </table>
    <input type="submit" value="送信" size="30"></input>
</form>
</body>
</html>